.fruitstyling {

    display: flex;

}

.hoofdplaatje {

    display: flex;
    justify-content: center;
    border-radius: 50px;
    padding: 30px;
}

.voorwaarden {
    display: flex;
    align-items: center;

}

.fruit {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;

}

.img {
    padding: 10px;
    border-radius: 180px;
    max-width: 200px;
    max-height: 150px;
}